.contact {
    margin-top: 48px;
    padding: 64px 16px 88px;
    background: #DBEAF7;

    &__header {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
    }

    &__description {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        color: $text;
        text-align: center;
        padding-bottom: 56px;
    }

    &-links {
        padding: 0 48px;
    }

    &__mail {
        display: block;
        text-decoration: none;
        color: white;
        background-color: #4DA8FF;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        border-radius: 64px;
        font-weight: bold;
        margin: 0 5px;
    }

}

.socials {
    padding: 0 0 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
        list-style: none;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        background: white;
    }

    &__icon {
        display: block;
        height: 24px;
        width: 24px;
    }
}