.hello {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    box-sizing: content-box;
    border: 12px solid rgb(219, 219, 219);
    border-radius: 50%;
    width: 96px;
    height: 96px;
    margin-bottom: 24px;
  }

  &__hand {
    display: none;
  }
}

.hello-header {
  margin: 0 10px 48px 10px;
  text-align: center;

  &__title {
    font-size: 26px;
  }

  &__description {
    color: #425A70;
    font-size: 16px;
  }

  &__contact {
    text-decoration: none;
    color: white;
    width: 278px;
    background-color: #4DA8FF;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    border-radius: 64px;
    font-weight: bold;
  }
}