.projects {
    padding: 64px 16px 176px;
    max-width: 1184px;
    margin: 0 auto;

    &__header {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;

        @media(min-width: $tablet) {
            font-size: 40px;
            line-height: 52px;
        }

        @media(min-width: $desktop) {
            font-size: 48px;
            line-height: 56px;
        }
    }

    &__description {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        color: $text;
        margin-bottom: 46px;

        @media(min-width: $tablet) {
            font-size: 20px;
            line-height: 40px;
            margin: 0 auto 52px;
            max-width: 782px;
        }

    }
}

.project {
    background: #212528;
    border-radius: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #808082;

    @media(min-width: $tablet) {
        font-size: 16px;
        line-height: 26px;
        max-width: 580px;
    }

    &__grid {
        padding: 0 16px;
        display: grid;
        grid-template-columns: 102px 1fr;
        column-gap: 8px;

        @media(min-width:$desktop) {
            grid-template-columns: 116px 1fr;
            margin: 0 0 8px;

        }

        &--margin {
            @media(min-width: $desktop) {
                margin: 24px 0 4px;
            }
        }

        &--last {
            padding-bottom: 48px;

            @media(min-width: $desktop) {
                padding-bottom: 58px;
                margin: 0;
            }
        }
    }

    &__dot {
        margin: 0 4px 0 0;
        border-radius: 50%;
        display: block;
        height: 8px;
        width: 8px;
        background: $dot;
    }

    &__gh-logo {
        padding: 26px 0 0 17px;
    }

    &__label {
        text-align: right;
        font-weight: normal;
        font-size: 13px;

        &--color {
            color: white;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 24px;
        }
    }

    &__link {
        color: #14B5D0;
    }

    &__widnow {
        background: #1E1E1E;
        height: 40px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        padding: 0 0 0 16px;
    }
}


.projects-grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;

    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;

    }
}