.projects {
    padding: 64px 16px 0;

    &__header {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
    }

    &__description {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        color: $text;
        margin-bottom: 46px;
    }
}

.project {
    background: #212528;
    border-radius: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #808082;

    &__grid {
        padding: 0 16px;
        display: grid;
        grid-template-columns: 102px 1fr;
        column-gap: 8px;

        &--last {
            padding-bottom: 48px;
        }
    }

    &__dot {
        margin: 0 4px 0 0;
        border-radius: 50%;
        display: block;
        height: 8px;
        width: 8px;
        background: $dot;
    }

    &__gh-logo {
        padding: 26px 0 0 17px;
    }

    &__label {
        text-align: right;
        font-weight: normal;
        font-size: 13px;

        &--color {
            color: white;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 24px;
        }
    }

    &__link {
        color: #14B5D0;
    }

    &__widnow {
        background: #1E1E1E;
        height: 40px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        padding: 0 0 0 16px;
    }
}


.projects-grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;

    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
    }
}