.skills {
  color: white;
  display: flex;
  flex-direction: column;
  background: #1070CA;
  align-items: center;

  &__header {
    font-size: 36px;
    margin-top: 64px;
    margin-bottom: 74px;
  }
}

.skills-section {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__emoji {
    font-size: 64px;
  }

  &__title {
    font-size: 24px;
  }
}

.skills-list {
  padding: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
  list-style: none;

  &__item {
    color: #DBEAF7;
  }
}