/* Error: Undefined variable.
 *    ,
 * 31 |     padding: 0 $font-xxl;
 *    |                ^^^^^^^^^
 *    '
 *   src/scss/about-me.scss 31:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 31 \2502      padding: 0 $font-xxl;\a    \2502                 ^^^^^^^^^\a    \2575 \a   src/scss/about-me.scss 31:16  root stylesheet";
}
