main {
  min-height: 100vh;
  width: 100%;
}
main .skills {
  margin: 1.8rem auto;
  overflow: hidden;
  width: 80%;
  min-height: 70vh;
  border-radius: 1.8rem;
  padding: 1.8rem 0.8rem;
  background-image: linear-gradient(120deg, #eb4f56, #9d66e9);
}
main .skills figure {
  width: 254px;
  margin: 5rem auto;
  height: 200px;
  background-image: url(../images/monitorr.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
main .skills figure span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  background: black;
  color: whitesmoke;
  width: 254px;
  height: 143px;
  text-align: center;
  line-height: 142px;
  border-radius: 0.2rem;
}

@keyframes move-txt {
  to {
    transform: translate(0);
  }
}
span:nth-child(1) {
  transform: translateX(100%);
  animation-duration: 1s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(2) {
  transform: translateX(200%);
  animation-duration: 2s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(3) {
  transform: translateX(300%);
  animation-duration: 3s;
  transform: translateY(-300%);
  animation-duration: 3s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(4) {
  transform: translateX(400%);
  animation-duration: 4s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(5) {
  transform: translateX(500%);
  animation-duration: 5s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(6) {
  transform: translateX(600%);
  animation-duration: 6s;
  transform: translateY(-600%);
  animation-duration: 6s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(7) {
  transform: translateX(700%);
  animation-duration: 7s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(8) {
  transform: translateX(800%);
  animation-duration: 8s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(9) {
  transform: translateX(900%);
  animation-duration: 9s;
  transform: translateY(-900%);
  animation-duration: 9s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

span:nth-child(10) {
  transform: translateX(1000%);
  animation-duration: 10s;
  animation-name: move-txt;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

/*# sourceMappingURL=main-sec.css.map */
