header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-image: url(../images/sky.jpg);
    // background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;



    nav {
        display: grid;
        grid-template-columns: 1fr 1fr min-content;
        padding: $font-s;
        background: rgba(0, 0, 0, .8);


        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 3;

    }

    h2 {
        font-size: $font-s;

        a {
            text-decoration: none;
            color: white;
        }
    }



    .nav-container {
        height: 100vh;
        position: absolute;
        width: 40vw;
        background: rgba(0, 0, 0, .85);
        display: none;
        top: 0;
        right: 0;
        margin-top: 53px;



        ul {
            display: flex;
            // flex-direction: column;

            flex-wrap: wrap;
            justify-content: center;
            align-items: center;


            li {
                list-style: none;
                flex-basis: 100%;
                text-align: center;
                // margin: $font-xs 0;

                &.icon {
                    flex-basis: 40%;
                }

                a {
                    color: white;
                    text-decoration: none;
                    font-size: $font-l;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }

    .toggler {
        display: block;

    }

    .burger {
        font-size: $font-xxl + $font-s;
        line-height: $font-s;
        background: none;
        border: none;
        color: white;
        justify-self: flex-end;
    }


    figure {
        width: 80%;
        align-self: flex-end;
        margin-top: 2rem;
        height: 40vh;


        img {
            width: 70vw;
            max-height: 40vh;
            margin: 4rem 0 0 2rem;
            background-color: none;
            clip-path: circle(50% at 50% 50%);


        }
    }

    .saturn-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        width: 130px;
        left: 14%;
        padding: $font-xxs;
        border-radius: $font-s;
        background-color: transparent;
        color: black;
        clip-path: circle(28.7% at 23% 17%);
        animation: myOrbit 10s infinite linear;
        z-index: 2;
        transition: all 1s;

        &:hover {
            animation-play-state: paused;
            background-color: rgba(230, 230, 230, .7);
            clip-path: circle(70.7% at 50% 50%);

        }



        .saturn {
            margin-bottom: $font-xs;

        }

        .message {
            font-size: $font-m;
        }
    }

    .title {
        margin: 7rem 2rem;
        flex-grow: 1;
        justify-self: flex-end;

        h3 {
            margin-top: $font-s;
        }


    }

    .star {
        width: 30px;
        transform: translate(-20vw, 10vh);
        animation: star-move 5s random(2)+s;

    }
}


@keyframes star-move {
    from {
        transform: translate(-20vw, 0) scale(1);

    }

    to {
        transform: translate(120vw, 70vh) scale(.2);

    }

}



@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}