@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

@import "_variables";
@import "modules/hello.scss";
@import "modules/skills.scss";

html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $wtf;
  color: black;
  font-family: 'Nunito', sans-serif;
  // display: flex;
  // // align-items: center;
  // // justify-content: center;
  min-height: 100vh;
}