@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import "_variables";
@import "modules/hello.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";



body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: inherit;
  color: $textDark;
  font-family: 'Nunito', sans-serif;
}