@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import "_variables";
@import "modules/hello.scss";
@import "modules/skills.scss";


*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: 'Nunito', sans-serif;
}