@import "variables.scss";

main {
    // padding: 2rem $font-s;
    min-height: 100vh;

    color: black;
    background: rgb(245, 245, 245);
    max-width: 1440px;
    margin: 0 auto;

    .skills {
        padding: 2rem 1rem;

        @media screen and (min-width: 1024px) {
            display: grid;

            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;

        }

        h2 {
            margin-top: 2rem;
            font-size: $font-xxl;

            @media screen and (min-width: 1024px) {
                font-size: 3rem;
            }
        }
    }

    .anima {


        @media screen and (min-width: 1024px) {
            grid-column: 1/3;
        }

    }

    .code {
        @media screen and (min-width: 1024px) {
            grid-column: 1/2;
        }

    }

    .lightning {
        @media screen and (min-width: 1024px) {
            grid-column: 2/3;
        }

    }


    .skill {
        margin: 3rem auto;
        background: rgb(254, 254, 254);

        width: 90%;
        border-radius: $font-xl;
        padding: $font-xl $font-s;




        @media screen and (min-width: 768px) {
            padding: $font-xxl $font-xl;
        }


        h3 {
            font-size: $font-m;

            @media screen and (min-width: 768px) {
                font-size: $font-l;
            }
        }

        p {
            margin-top: $font-xl;
        }

        figure {
            width: 254px;
            margin: 0;
            height: 200px;
            background-image: url(../images/monitorr.png);
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            margin: 5rem auto;
            // transform: scale(.8);

            @media screen and (min-width: 768px) {
                transform: scale(1.4);
            }

            @media screen and (min-width: 1024px) {
                transform: scale(2);
                margin: 10rem auto;
            }

            .wall {
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                width: 250px;
                height: 144px;
                overflow: hidden;

            }

            ul {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 146px;

                &.train {
                    transform: translateX(250px);
                    animation: train 15s linear infinite;
                }

                &.waterfall {
                    flex-direction: column;
                    height: 1460px;
                    transform: translateY(146px);
                    animation: waterfall 15s linear infinite;
                }

                li {
                    width: 250px;
                    height: 146px;
                    font-size: 28px;
                    background: transparent;
                    color: whitesmoke;
                    border-radius: .2rem;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }


        }
    }

    .cool {
        background: rgb(217, 215, 215);
        background: linear-gradient(122deg, rgba(217, 215, 215, 1) 28%, rgb(155, 154, 154) 63%, rgba(173, 173, 173, .7) 74%);
        color: black;
    }

    pre {

        margin-top: 2rem;
        font-size: $font-xs;

        @media screen and (min-width: 768px) {
            font-size: $font-s;
            margin-left: 4rem;
        }

        @media screen and (min-width: 1024px) {
            margin-top: 5rem;

        }


        span {
            color: red;
            font-size: $font-xs;

            @media screen and (min-width: 768px) {
                font-size: $font-m;
            }




        }
    }



    span.shot {
        display: block;
        margin: 5rem auto 2rem;

        width: 90%;
        border: .2rem solid black;
        border-bottom: 10px solid black;
        border-radius: .4rem;
        overflow: hidden;

        img {
            width: 100%;
            transition: transform .3s;

        }

        &:hover img {
            transform: translate(-60px, 30px) scale(1.6);
        }
    }
}




@keyframes train {
    from {
        transform: translateX(250px);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes waterfall {
    from {
        transform: translateY(144px);
    }

    to {
        transform: translateY(-100%);
    }
}



// @mixin add-move-animation {
//     animation-name: move-txt;
//     animation-timing-function: linear;
//     animation-fill-mode: forwards;
//     animation-direction: alternate;
//     // animation-iteration-count: infinite;
// }

// @for $i from 1 through 10 {

//     li:nth-child(#{$i}) {
//         animation-duration: $i+s;

//         // @if (($i % 3)==0) {
//         //     transform: translateY(-100% *$i);
//         //     animation-duration: $i+s;
//         // }

//         @include add-move-animation();
//     }


// }